.about {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../../assets/image/about-bg.jpg");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

@media (max-width: 768px) {
  .about {
    padding: 4rem;
  }
}
