.footer {
  background-color: #333;
  color: #ffffff;
  padding: 5rem 0;
  text-align: center; /* Center-align text */
}

.container {
  max-width: 1200px; /* Adjust based on your design */
  margin: 0 auto; /* Center the container */
  padding: 0 2rem; /* Adjust horizontal padding */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 20px;
}

.col-3,
.col-2 {
  flex: 1;
  min-width: 200px; /* Adjust as needed */
}

.nav {
  list-style: none;
  padding: 0;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 8px;
}

.nav-link:hover {
  color: #ccc;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.socials li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
}

.socials li a img {
  width: 24px;
  height: auto;
}

hr {
  margin: 20px 0;
  border-top: 1px solid #ccc;
}

@media (max-width: 769px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-3,
  .col-2 {
    max-width: 100%;
    text-align: center;
  }
}
